
@font-face {
  font-family: 'RobotoMono';
  src: url('./Fontes/RobotoMono-Thin.ttf');
}

/*Esse * significa que é um seletor universal ou seja o estilo sera aplicado a todos os componentes*/
*{
  font-family: 'RobotoMono', monospace;
}

body {
  display: flex;
  height:  100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:black;
  background: #EECDA3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EF629F, #EECDA3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}